function Main.foo 0
push argument 0
pop pointer 0
push static 0
push constant 1
push constant 3
add
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 8
return
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
